<div class="mailing-list">
    <div class="content-wrapper">
        <p>Join our mailing list</p>
        {% filter shortcodes %}
        	[wpforms id="94" title="false" description="false"]
        {% endfilter %}
    </div>
</div>
<div class="disclaimer">
    <p>Copyright {{"now"|date('Y')}} | Cash Cowboys | All Rights Reserved</p>
    <p>Designed & Developed by Creative Factory Inc.</p>
</div>
